/* shift + option + s でコード整形 */

header, body, footer {
    margin: 0;
    color: #486b00;
    font-weight: bold;
    font-size: 20px;
    font-family: "IBM Plex Sans", sans-serif;
}
a {
    color: #486b00;
    text-decoration: none;
}
header {
    height: 120px;
    padding: 20px;
    border-bottom: 10px solid #486b00;
    background-color: #a2c523;
}
.header-logo {
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 20px;
    background-color: #486b00;
}
.header-logo img {
    width: 120px;
    height: 120px;
}
.header-title {
    float: left;
    padding: 0 20px;
    color: #486b00;
    font-size: 60px;
    line-height: 120px;
}
.copy-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
.copy-title {
    height: 40px;
    font-size: 20px;
}
.contents {
    padding: 0 20px;
    overflow: hidden;
}
.contents h1 {
    font-size: 30px;
    display: inline;
    color: #2e4600;
    border-bottom: 5px solid #a2c523;
}
.contents h2 {
    font-size: 25px;
    display: inline-block;
    margin-bottom: 0px;
    color: #2e4600;
    background-color: #a2c523;
    padding: 10px 20px;
    border-radius: 20px;
}
.contents h3 {
    font-size: 20px;
    color: #486b00;
}
.contents p {
    font-size: 25px;
    text-indent: 1em;
}
.section-title {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 5px solid #7d4427;
}
.section-title h3 {
    justify-content: center;
    width: 75%;
    margin: 20px auto;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #a2c523;
    color: #2e4600;
    font-size: 25px;
    text-align: center;
}
.contents-item {
    float: left;
    width: 25%;
    margin-bottom: 40px;
}
.contents-item2 {
    width: 90%;
    padding: 5px;
    border-radius: 20px;
    background-color: #a2c523;
    background-color: #a2c523;
}
.contents-item2 p {
    text-indent: 0;
}
.contents-item img {
    display: block;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #fff;
}
.contents-item p {
    padding: 0 10px;
    color: #2e4600;
    text-align: center;
}
footer {
    height: 160px;
    padding: 10px;
    border-top: 10px solid #a2c523;
    background-color: #7d4427;
    color: #fff;
}
footer a {
    color: #fff;
}
