header, body, footer {
    margin: 0;
    padding: 0;
    color: #486b00;
    font-weight: bold;
    font-size: 48px;
    font-family: "IBM Plex Sans", sans-serif;
}
a {
    color: #486b00;
    text-decoration: none;
}
header {
    height: 240px;
    padding: 40px;
    border-bottom: 20px solid #486b00;
    background-color: #a2c523;
}
.header-logo {
    float: left;
    width: 240px;
    height: 240px;
    border-radius: 40px;
    background-color: #486b00;
}
.header-logo img {
    width: 240px;
    height: 240px;
}
.header-title {
    float: left;
    padding: 0 40px;
    color: #486b00;
    font-size: 120px;
    line-height: 240px;
}
body {
    height: auto;
    background-color: #ffffff;
}
footer {
    height: 320px;
    padding: 20px;
    border-top: 20px solid #a2c523;
    background-color: #7d4427;
    color: white;
}
