header, body, footer {
    margin: 0;
    padding: 0;
    color: #486b00;
    font-weight: bold;
    font-size: 15px;
    font-family: "IBM Plex Sans", sans-serif;
}
a {
    color: #486b00;
    text-decoration: none;
}
header {
    height: 60px;
    padding: 10px;
    border-bottom: 4px solid #486b00;
    background-color: #a2c523;
}
.header-logo {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #486b00;
}
.header-logo img {
    width: 60px;
    height: 60px;
}
.header-title {
    float: left;
    padding: 0 10px;
    color: #486b00;
    font-size: 30px;
    line-height: 60px;
}
body {
    height: auto;
    background-color: #ffffff;
}
footer {
    height: 80px;
    padding: 5px;
    border-top: 4px solid #a2c523;
    background-color: #7d4427;
    color: white;
}
